.lessons_wrapper {
  margin-block: 15px;
  width: clamp(100px, 100%, 800px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/* ////////////////////////////////////////////////////////////////////////////// */

.note_card {
  border: var(--border-color-lightgray-global);
  padding: 0 5px;
  /* border-radius: 5px; */
}

.note_question {
  font-weight: 600;
}

.lesson_image_wrapper {
  position: relative;
  width: clamp(100px, 70%, 400px);
  aspect-ratio: 2/1.3;
  margin: 15px auto 30px;
  overflow: hidden;
  z-index: -1;
}

.note_card ol {
  list-style-type: upper-alpha;
}
.note_card li::marker {
  font-weight: 500;
  color: red;
}

.note_number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  /* border-radius: 4px; */
  background-color: rgba(128, 128, 128, 0.388);
  font-size: 0.9rem;
}

.note_answers {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0;
  margin-left: 20px;
}

@media (max-width: 480px) {
  .lessons_wrapper {
    grid-template-columns: 1fr;
  }

  .lesson_image_wrapper {
    width: clamp(100px, 100%, 250px);
    overflow: hidden;
  }
}
