.side-container {
  /* background-color: rgba(0, 0, 0, 0.054); */
  width: 15rem;
  height: 90vh;
  overflow-y: auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* overflow: hidden; */
}
.side-container li {
  border-bottom: solid 1px grey;
  list-style-type: none;
}

.notes-container {
  /* background-color: #e7e9eb; */
  width: 100%;
  height: 60vh;
  overflow-y: auto;
  padding: 1.25rem;
}

.active-topic {
  color: blue;
  /* font-weight: bold; */
  /* background-color: rgba(128, 128, 128, 0.358); */
}
