.donate-cont {
    width: clamp(200px, 70%, 700px);
    margin-inline: auto;
}

.donate-cont h1 {
    text-align: center;
    margin-top: var(--footer-links-header-margin-top);
}

.donate-intro-txt:first-of-type {
    margin-top: 3rem;
}
.donate-intro-txt {
    margin-bottom: 1rem;
}
.donate-intro-txt:last-of-type {
    margin-bottom: 3rem;
}

.donate-cont p, .donate-cont ul {
    /* border: solid; */
    font-size: var(--footer-links-text-size);
}

.donate-cont ul {
    margin-left: 45px;;
}

.donate-sub-cont {
    margin-bottom: 1.5rem;
}
.donate-sub-cont:last-of-type {
    margin-bottom: 5.5rem;
}

.donate-sub-cont h2 {
    margin-bottom: 0.5rem;
}

.whatsApp p {
    margin-bottom: 1rem;
}