.contactUs-cont {
  width: clamp(200px, 100%, 1000px);
  /* border: solid 10px red; */
  margin-inline: auto;
}
.contactUs-cont p {
  font-size: var(--footer-links-text-size);
}
.contactUs-cont h1 {
  text-align: center;
  margin-top: var(--footer-links-header-margin-top);
  margin-bottom: 3rem;
}

.contact-message {
  width: 70%;
  margin: auto;
}

.iframe-contact {
  margin: 3rem auto 5rem;
  /* border: solid ; */
  display: block;
  width: clamp(400px, 100%, 700px);
}
