.menuCon {
  position: absolute;
  left: 0;
  right: 0;
  top: var(--header-height);
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 1.5rem;
}

.menuCon .internalNavLinks {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  list-style: none;
}

.linkIitem {
  border-bottom: var(--border-color-lightgray);
}

.menuIcon {
  z-index: 10000;
}

.mobileMenuSocialLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.4rem;
  margin: 50px 0;
}
.mobileMenuSocialLinks ul {
  display: flex;
  flex-direction: row;
  column-gap: 0.6rem;
  list-style-type: none;
}
