.skip_links {
    width: 100px ;
    text-align: center;
  margin-top: 13px;
  /* color: black; */
  background-color: rgba(128, 128, 128, 0.255);
  margin-right: auto;

  padding-block: 8px;
  padding-inline: 5px;
  position: absolute;
  /* top: 55px; */
  left: calc(100vw * -20) ;
}

.skip_links:focus {
  left: 15px;
}


/* @media (max-width: 480px) {
    .skip_links {
        display: none;
    }
} */
