#curriculum-heading {
  text-align: center;
  margin-top: 2rem;
  /* border: solid ; */
}

.curriculum-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
  max-width: 500px;
  min-width: 100px;
  margin-inline: auto;
  padding-block: 1.5rem;
  /* border: solid; */
  font-size: large;
}

.curriculum-container div {
  border: #1a181442 solid 1px;
  padding: 1.2rem;
  border-radius: 5px;
  background-color: rgba(132, 129, 129, 0.169);
  cursor: pointer;
}
.curriculum-container div:hover {
  border: #1a181442 solid 1px;
  border-radius: 5px;
  background-color: rgb(15, 2, 73);
  color: white;
}
