.faq {
  border: transparent solid 1px;
  margin-top: var(--margin-top-from-header);
}

.faq .container {
  max-width: 800px;
  margin: 0 auto;
}

.faq h2 {
  text-align: center;
  margin: clamp(1.5rem, 5vw, 3rem);
  margin-bottom: 0.5rem;
  font-size: var(--font-size-H2);
}

.faq_subtitle {
  text-align: center;
  margin-bottom: 2rem;
}

.faq_list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.faq_item {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.faq_question {
  padding: 1rem 1.25rem;
  font-weight: 600;
  cursor: pointer;
  /* list-style: none; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq_question::-webkit-details-marker {
  display: none;
}

.faq_question::after {
  content: "+";
  font-size: 1.5rem;
  color: #0066cc;
  transition: transform 0.2s;
}

.faq_item[open] .faq_question::after {
  content: "−";
}

.faq_answer {
  padding: 0 1.25rem 1rem 1.25rem;
  line-height: 1.5;
  margin-left: 15px;
}



@media (max-width: 600px) {
  .faq {
    padding-inline: var(--phone-padding-sides);
  }
}
