/* ----------------------------------------------------------- ---------- HERO TEXT SEC ----------------------------------------------------------- ---------- */

#hero_container {
  width: 100%;
  margin-top: var(--margin-top-from-header);
}

.hero_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: clamp(1rem, 15vw, 5rem);
  /* border: saddlebrown solid 5px; */
  /* align-items: baseline; */
}


.heroBadge {
  border: solid 1px #1a181442;
  border-radius: 20px;
  padding: 5px 10px;
  margin: auto;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.hero_child_text,
#hero_container h1,
.start_learning_btn_con {
  text-align: right;
  margin-inline: auto;
  width: 80%;
}

.hero_child_text {
  font-size: 1.17em;
  font-weight: 550;
}

#hero_container h1 {
  font-size: clamp(1.75rem, 6vw, 5.5rem);
  /* font-size: 50px; */
}

.start_learning_btn {
  display: inline-block;
  background-color: #5238f9;
  color: white;
  padding: clamp(5px, 2vw, 15px) clamp(10px, 2vw, 18px);
  font-size: clamp(1.2rem, 2vw, 1.55rem);
  border: none;
}
/* ----------------------------------------------------------- ---------- HERO TEXT SEC END----------------------------------------------------------- ---------- */



/* ----------------------------------------------------------- ---------- hero img ----------------------------------------------------------- ---------- */

.hero_img_con {
  position: relative;
  z-index: -1;
  /* top: 0px; */
  width: 80%;
  /* height: 80vh; */
  margin-inline: auto;
  aspect-ratio: 2/1;
  /* border: solid red 1px; */
}











/* ------------------------------------WHY CHOOSE US SECTION----------------------------------------- */

.whyUs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.9rem;
  padding-block: clamp(1.5rem, 3vw, 7rem);
  width: clamp(200px, 95vw, 1100px);
  margin-inline: auto;
  padding-inline: 8px;
}

.feature {
  flex: 1 1 225px;
  background-color: #fcfcfc;
  border-radius: 8px;
  border: #1a181442 solid 1px;
  padding-inline: 0.7rem;
  padding-block: 1.2rem;
  text-align: left;
}

.iconCon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 8px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 12px;
}

.feature i {
  font-size: 2.1rem;
  color: #3695ff;
}

.feature p {
  padding-top: 8px;
}

.chooseUs h2 {
  text-align: center;
  margin-top: clamp(0.5rem, 10vw, 4rem);
}

/* ------------------------------------START LEARNING SEC----------------------------------------- */

.startLearning {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: clamp(200px, 95vw, 1050px);
  margin-inline: auto;
  justify-content: space-between;
  align-items: baseline;
  padding: clamp(8px, 5vw, 1.8rem);
  margin-block: clamp(3rem, 3vw, 7rem);
  border-radius: 8px;
  color: #1f1f1e;

  background: linear-gradient(
    135deg,
    #aeb0e78d 0%,
    #2ccece68 50%,
    #4f8fb532 100%
  );
}

.startLearning .free p {
  font-size: 2rem;
  font-weight: bold;
}

.free {
  width: 100%;
  max-width: 290px;
  min-width: 250px;
  margin-right: 100px;
}

.noTrial p {
  margin-bottom: 0.9rem;
}

.tryFreeBtn {
  background: #eaeaea;
  color: var(--ink);
  padding: 0.2rem 1rem;
  border-radius: 10px;
  border: #1a181442 solid 1px;
  cursor: pointer;
}

@media (max-width: 480px) {
  /* ------------------------------------START LEARNING SEC----------------------------------------- */

  .hero_child_text,
  #hero_container h1,
  .start_learning_btn {
    margin-left: auto;
    margin-right: 14px;
  }

  .hero_text {
  gap: 16px;
  padding-block: clamp(1rem, 10vw, 3rem);
}

.hero_img_con {
  width: 90%;
  margin-inline: auto;
  aspect-ratio: 1/1;
}
}
