/* Instructions Component---------------------------------------------------------------------------------- */

.instructions {
  list-style-type: disc;
  padding-left: 30px;

  /* border: red 100px solid; */
}

/* Instructions Component---------------------------------------------------------------------------------- */









/* Quiz Component---------------------------------------------------------------------------------- */
.main_container {
  margin-top: var(--margin-top-from-header);
  border: red 1px solid;
}



#quiz-title {
  text-align: center;
  margin-block: 20px;
  font-size: var(--font-size-H1);
  font-weight: 600;

  /* border: red 1px solid; */
}

.quiz-instruction {

  margin-bottom: 20px;
  width: clamp(01px, 50vw, 750px);
  margin-inline: auto;
  font-style: italic;
  color: red;

  /* border: red 1px solid; */
}







.q-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  row-gap: 25px;

  width: clamp(01px, 50vw, 750px);
  margin-inline: auto;


  border: solid 1px red;
}

.q-text {
  display: flex;
  gap: 3px;


  /* border: red 1px solid; */
}

.lesson-image-wrapper {
  position: relative;
  width: clamp(100px, 70%, 400px);
  aspect-ratio: 2/1.3;
  margin-block: 15px;
  border-radius: 5px;
  overflow: hidden;


  /* border: red 1px solid; */

}



.options-cont {
  margin-top: 15px;
  padding: 10px;
  list-style-type: none;
  border: solid 1px gray;
  border-radius: 5px;
  width: 85%;

  /* border: red 1px solid; */
}

.options-cont label {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;

  /* border: solid 1px red; */
}

.options-cont input {
  flex-shrink: 0;
  margin-top: 3.5px;

  /* border: red 1px solid; */
}


.score_res_p,
.unanswered_warning {
  margin-block: clamp(16px, 4vw, 64px);
  width: clamp(01px, 50vw, 750px);
  margin-inline: auto;
}


.exam_btn {
  margin: 2.5rem auto;
  border: 1px solid;
  display: block;
  padding: 0.5rem;
  font-size: large;
  
}
.exam_btn:hover {
  cursor: pointer;
  background-color: #5238F9;

  /* margin: 2.5rem auto; */
  border: 1px solid transparent;
}



























/* Quiz Component---------------------------------------------------------------------------------- */

/* .correct {} */

.correct::after {
  content: " ✔ ";
  font-size: 1.2rem;

  color: rgb(8, 0, 255);
  margin-right: 8px;
  margin-top: -5px;
  animation: popIn 0.2s ease-out forwards;
}

.wrong {
  color: rgb(255, 0, 0);
}
.wrong::after {
  content: " ✖ ";
  font-size: 1.2rem;

  color: rgb(255, 0, 0);
  margin-right: 8px;
  animation: popIn 0.2s ease-out forwards;
}




@media (max-width: 480px) {

  .main_container {
  margin-top: var(--margin-top-from-header);
  padding-inline: var(--phone-padding-sides);
  border: transparent 1px solid;
}

.quiz-instruction {
  /* margin-bottom: 20px; */
  width: clamp(200px, 100%, 480px);
  /* color: red; */
  border: transparent 1px solid;
}


.q-container {
  /* display: flex;
  flex-direction: column; */
  /* flex-wrap: nowrap; */
  /* row-gap: 25px; */

  width: clamp(200px, 100%, 480px);
  /* margin-inline: auto; */


  border: solid 1px transparent;
}
  

.score_res_p,
.unanswered_warning {
  width: clamp(200px, 100%, 750px);
}
}
