.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #83848fc5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  /* blur-radius: 150px; */
  text-align: center;

   /* border: solid red 1px; */
}

.res_mini_containers {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  padding: 4px 10px;
  gap: 1rem;

}

.status_pass {
  border: solid green 1px;
}

.status_fail {
  border: solid rgb(255, 0, 0) 1px;
}

.res {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.res_img {
  width: clamp(70px, 10vw,  150px);
  height: clamp(70px, 10vw, 150px);
}

.time {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.review_btn {
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 1.2rem;
    background-color: rgb(12, 12, 223);
    color: #ffffff;
    border: none;
}






@media (max-width: 480px) {
  .modal {
  padding: 10px;
  width: 100%;
  /* blur-radius: 150px; */
  text-align: center;
  margin-inline: var(--phone-padding-sides);
}


  
}
